<p>counter works!</p>
<div class="card">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p><b>Counter: </b>{{counterValue}}</p>
        </div>
        <div class="col-md-4"></div>

    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="onSelectIncrease()">Increase</button>
            <button type="button" class="btn btn-primary" (click)="onSelectDecrease()">Decrease</button>
            <button type="button" class="btn btn-primary" (click)="onSelectReset()">Reset</button>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>